body {
	background-color: #0368a5;
	font-family: 'Corben', ;
	font-size: 2.5vw; /* Responsive font size */
	margin: 0; /* Reset default margin */
}

.container {
	width: 100%; /* Responsive width */
	margin: auto;
	overflow: hidden;
	/*padding-top: 2vh;  Responsive top padding */
}

.container h1 {
	color: white;
	font-size: 4.9vw; /* Responsive font size */
	text-align: center;
	text-decoration: underline double 0.5vw; /* Responsive text decoration */
	text-shadow: 0px 0.5vw 0.5vw rgba(0, 0, 0, 0.66); /* Responsive text shadow */
	margin-bottom: 60vh; /* Responsive bottom margin */
}

#navbar {
	height: 2vh; /* Responsive height */
	position: absolute;
	right: 1vw; /* Responsive right position */
	top: -3vh; /* Responsive top position */
}

#navbar ul {
	padding: 0; /* Reset padding */
	list-style: none;
}

#navbar li {
	display: inline;
	padding: 0.5vw; /* Responsive padding */
	text-shadow: 0px 0.5vw 0.5vw rgba(0, 0, 0, 0.66); /* Responsive text shadow */
}

#navbar a {
	color: white;
	text-decoration: none;
	font-size: 1.4vw; /* Responsive font size */
	text-align: center;
	padding: 0.5vw 0.6vw; /* Responsive padding */
}

#navbar a:hover {
	color: black;
	background-color: white;
	border-radius: 2vw; /* Responsive border radius */
}

#socials {
	position: fixed;
	top: 20vh; /* Responsive top position */
	left: 2vw; /* Responsive left position */
	margin: 0;
}

#socials ul {
	padding: 0; /* Reset padding */
	list-style: none;
}

#socials li {
	padding: 0.5vw; /* Responsive padding */
}

#linkedin,
#github,
#instagram {
	height: 5vw; /* Responsive height */
	width: 5vw; /* Responsive width */
	margin-right: 1vw; /* Responsive right margin */
}

#main-footer {
	background: #0E0B09;
	color: white;
	font-size: 1.5vw; /* Responsive font size */
	text-align: center;
	padding: 1vw; /* Responsive padding */
	height: 8vh; /* Responsive height in vh */
	width: 100%; /* Responsive width in vw */
	position: absolute;
	top: 400vh; /* Responsive top position in vh */
	right: 0vw; /* Responsive right position in vw */
	margin-top: 0vh; /* Responsive top margin */
	clear: both; /* Ensure footer clears other content */
}


#box1 {
	border: 0.4vw inset saddlebrown; /* Border thickness in vw */
	border-radius: 3vw; /* Border radius in vw */
	background-color: #f7da9e;
	height: 20vh; /* Responsive height in vh */
	width: 70vw; /* Responsive width in vw */
	position: absolute;
	top: 30vh; /* Responsive top position in vh */
	right: 10vw; /* Responsive right position in vw */
	padding: 2vw; /* Responsive padding in vw */
	padding-top: 1vw;
	padding-bottom: 2.5vw;
	font-size: 2.5vw; /* Responsive font size in vw */
	color: #101823;
	text-align: center;
}

#box2 {
	border: 0.2vw ridge #032569; /* Border thickness in vw */
	background-color: #cce5eb;
	height: 50vh; /* Responsive height in vh */
	width: 30vw; /* Responsive width in vw */
	position: absolute;
	top: 70vh; /* Responsive top position in vh */
	right: 10vw; /* Responsive right position in vw */
	padding: 2vw; /* Responsive padding in vw */
	padding-top: 1vw;
	padding-bottom: 3vw;
	font-size: 2.5vw; /* Responsive font size in vw */
	color: #101823;
	text-align: center;
}

#cross-hands{
	width: 29vw;
	height: 50vhx;
	position: absolute;
	top: 73vh;
	right: 53vw;
}

#box3 {
	border: 0.2vw ridge #032569; /* Border thickness in vw */
	background-color: #cce5eb;
	height: 50vh; /* Responsive height in vh */
	width: 30vw; /* Responsive width in vw */
	position: absolute;
	top: 140vh; /* Responsive top position in vh */
	right: 50vw; /* Responsive right position in vw */
	padding: 2vw; /* Responsive padding in vw */
	padding-top: 1vw;
	padding-bottom: 3vw;
	font-size: 2.5vw; /* Responsive font size in vw */
	color: #101823;
	text-align: center;
}

#standing{
	width: 20.5vw;
	height: 75vh;
	position: absolute;
	top: 132vh;
	right: 15vw;
}

#box4 {
	border: 0.2vw ridge #032569; /* Border thickness in vw */
	background-color: #cce5eb;
	height: 50vh; /* Responsive height in vh */
	width: 30vw; /* Responsive width in vw */
	position: absolute;
	top: 215vh; /* Responsive top position in vh */
	right: 10vw; /* Responsive right position in vw */
	padding: 2vw; /* Responsive padding in vw */
	padding-top: 1vw;
	padding-bottom: 3vw;
	font-size: 2.5vw; /* Responsive font size in vw */
	color: #101823;
	text-align: center;
}

#deadlift{
	width: 20.5vw;
	height: 65vh;
	position: absolute;
	top: 208vh;
	right: 57vw;
}

#box5 {
	border: 0.2vw ridge #032569; /* Border thickness in vw */
	background-color: #cce5eb;
	height: 65vh; /* Responsive height in vh */
	width: 30vw; /* Responsive width in vw */
	position: absolute;
	top: 280vh; /* Responsive top position in vh */
	right: 50vw; /* Responsive right position in vw */
	padding: 2vw; /* Responsive padding in vw */
	padding-top: 1vw;
	padding-bottom: 5vw;
	font-size: 2.5vw; /* Responsive font size in vw */
	color: #101823;
	text-align: center;
}

#music{
	width: 35vw;
	height: 50vh;
	position: absolute;
	top: 295vh;
	right: 10vw;
}

#box6 {
	/*border: 0.2vw ridge #032569; /* Border thickness in vw */
	/*background-color: #cce5eb;*/
	height: 20vh; /* Responsive height in vh */
	width: 70vw; /* Responsive width in vw */
	position: absolute;
	top: 355vh; /* Responsive top position in vh */
	right: 10vw; /* Responsive right position in vw */
	padding: 2vw; /* Responsive padding in vw */
	padding-top: 1vw;
	padding-bottom: 3vw;
	font-size: 3vw; /* Responsive font size in vw */
	font-family: 'Corben', cursive;
	color: whitesmoke;
	text-shadow: 0px 0.5vw 0.5vw rgba(0, 0, 0, 0.66); /* Responsive text shadow */
	text-align: center;
}


